@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Background container for the image */
.background-image {
  background-image: url("./Assets/Images/mainBackground.jpg");
  background-size: cover;
  background-position: center;
  z-index: -1;
  transition: transform 0.1s cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: background-color 0.2s ease-in-out;
}

/* Text style section */
.neon-text {
  text-shadow: 0 0 5px #38b2ac, 0 0 10px #38b2ac, 0 0 20px #38b2ac;
}

/* Fonts style section */
.font-fredoka {
  font-family: var(--font-fredoka), sans-serif;
}

.font-teko {
  font-family: var(--font-teko), sans-serif;
}

/* Hover effects style section */
.custom-svg-hover {
  transition: 0.3s ease;
}

.custom-svg-hover:hover svg {
  fill: rgb(255, 245, 230);
}

/* Animation style section */
@keyframes upDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}

.animate-up-down {
  animation: upDown 3s ease-in-out infinite;
}

/* Keyframe for continuous rotation */
@keyframes rotateAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#circle-container {
  animation: rotateAnimation 15s linear infinite;
  transition: transform 0.5s ease;
}

#circle-container.paused {
  animation-play-state: paused;
}

/* Id element style section */
#nav-links a {
  position: relative;
}

#nav-links a::after {
  content: "";
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  background-color: rgb(207, 203, 203);
  box-shadow: 0 0 5px #38b2ac, 0 0 10px #38b2ac, 0 0 20px #38b2ac;
  transition: width 0.3s ease-in-out;
  border-radius: 2px;
}

#nav-links a:hover::after {
  width: 100%;
}

/* Scrollbar styles */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #00d9ff;
}

::-webkit-scrollbar-thumb:hover {
  background: #00879e;
}
