@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Background container for the image */
.background-image {
  background-image: url("./Assets/Images/mainBackground.jpg");
  background-size: cover;
  background-position: center;
  z-index: -1;
  transition: transform 0.1s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.neon-text {
  text-shadow: 0 0 5px #38b2ac, 0 0 10px #38b2ac, 0 0 20px #38b2ac;
}

.font-fredoka {
  font-family: var(--font-fredoka), sans-serif;
}

.font-teko {
  font-family: var(--font-teko), sans-serif;
}

@keyframes upDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}

.animate-up-down {
  animation: upDown 3s ease-in-out infinite;
}

#nav-links a {
  position: relative;
}

#nav-links a::after {
  content: "";
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  background-color: white;
  box-shadow: 0 0 5px #38b2ac, 0 0 10px #38b2ac, 0 0 20px #38b2ac;
  transition: width 0.3s ease-in-out;
  border-radius: 2px;
}

#nav-links a:hover::after {
  width: 100%;
}
